<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Este proyecto fue sacado de youtube y los creditos son de FaztWeb.
    </p>
    <p>El proyecto se hizo con el fin de hacer un proyecto con Nodejs y agarrar
      mas experiencia con el lenguaje</p>
  </div>
</section>