<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies</p>
  <hr class="my-4" />
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
    doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <a
    class="btn btn-primary btn-lg"
    href="https://github.com/V11Playko"
    role="button"
  >Github</a>
</div>
<div>
  <p>Este proyecto fue sacado de youtube y los creditos son de FaztWeb</p>
</div>